body{background-color: rgb(247, 247, 247); color: #5e5e5e; font-size: 13px; font-weight: normal; font-family: "微软雅黑";display: -webkit-box;display: -ms-flexbox;display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; position: absolute; width: 100%; height: 100%;}
ul{list-style: none; padding: 0;}
img{border: 0;}
a{text-decoration: none !important; outline: none !important;}
a, a:focus, a:hover{color: #2196f3;}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  /*src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');*/
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

#header{
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    min-height: 64px;
    position: fixed;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 30px 0 11px;
    background-color: #2196f3;
    /*transition: all 0.3s ease-in-out;*/
    will-change: transform;
    -webkit-transition: -webkit-transform 200ms linear;
    transition: -webkit-transform 200ms linear;
    transition: transform 200ms linear;
    transition: transform 200ms linear, -webkit-transform 200ms linear;
}
.headroom--pinned {-webkit-transform: translateY(0%);transform: translateY(0%);}
.headroom--unpinned {-webkit-transform: translateY(-100%);transform: translateY(-100%);}
.dataShare_back_listveiw.headroom--pinned, .currenty-new.headroom--pinned {-webkit-transform: translateY(0%);transform: translateY(0%);}
.dataShare_back_listveiw.headroom--unpinned,.currenty-new.headroom--unpinned{-webkit-transform: translateY(75px);transform: translateY(75px);}
#main{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    padding-top: 90px;
}
#leftmenu{
    position: fixed;
    overflow: hidden;
    height: 100%;
    padding-top: 65px;
    top: 0;
    max-width: 100%;
    outline: 0;
    direction: ltr;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
            box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    width: 268px;
    background: #fff;
    opacity: 0;
    z-index: 99;
    -webkit-transform: translate3d(-268px, 0, 0);
    transform: translate3d(-268px, 0, 0);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
#leftmenu-mb{
    width: 100%;
    height: 100%;
    background: #555555;
    opacity: 0.3;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    z-index: 98;
}
.toggled{
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}
.toggleDisplay{
    display: block !important;
}
#header .header-inner{
    list-style: none;
    padding: 17px 0;
}
#header .header-inner li{
    float: left;
}
#header .logo a{
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    font-weight: 400;
}
#header .header-inner .menu-trigger{
    width: 65px;
    text-align: center;
}
.login-register{
    padding: 0 10px;
    line-height: 36px;
}
.menu-trigger{
    cursor: pointer;
}
.menu-trigger:before{
    content: "";
    position: absolute;
    top: 12px;
    left: 21px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.22);
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 0;
}
.menu-trigger.open:before{
    -webkit-transform: scale(1);
    transform: scale(1);
}
@media (max-width: 768px) {
    #header{padding: 0 16px 0 0;}
    .main-menu li a{padding: 14px 20px 14px 23px;}
    .menu-trigger:before{left: 10px;}
}
.top-menu{padding: 0;}
.top-menu > li {
    display: inline-block;
    margin: 0 1px;
    vertical-align: top;
    min-width: 50px;
    position: relative;
}
.top-menu > li > a{
    color: #fff;
    display: block;
    text-align: center;
    z-index: 1;
    position: relative;
    font-weight: 400;
}
.top-menu > li > a > i{
    font-size: 22px;
    line-height: 36px;
}
.horizontal-flip{
    -webkit-transform:scaleX(-1);
    transform:scaleX(-1);
}
@media (max-width: 768px){
    .top-menu > li{
        position: static;
    }
    #info{
        width: calc(100% - 40px) !important;
        right: 20px;
        top: 55px;
    }
    #top-user {
        top: 55px !important;
        right: 11px;
    }
}
@media (min-width: 768px){
    .top-menu > li:before {
        left: 0;
        top: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0);
        -webkit-transition: all;
        transition: all;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: rgba(0, 0, 0, 0.12);
        z-index: 0;
        border-radius: 2px;
        opacity: 0;
    }
    .top-menu > li:hover:before{
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
    .pt-actions > li > a:before, .pt-actions > a:before{
        left: 0;
        top: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0);
        -webkit-transition: all;
        transition: all;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 0;
        border-radius: 50%;
        opacity: 0;
    }
    .pt-actions > li > a:hover:before, .pt-actions > a:hover:before, .pt-actions > li > a.open:before, .pt-actions > a.open:before {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}
.main-menu{
    margin: 20px 0 0 0;
    list-style: none;
    padding-left: 0;
}
.main-menu li a{
    padding: 14px 20px 14px 23px;
    display: block;
    color: rgba(0,0,0,0.87);
    font-weight: 500;
    position: relative;
}
.main-menu li a:hover{
    color: #262626;
    background-color: #f7f7f7;
}
.main-menu li a i{
    width: 44px;
    font-size: 20px;
    top: -1px;
    position: relative;
    color: #909090;
}
.main-menu li.active a, .main-menu li.active i{color: #2196f3;}
#chat{
    padding: 20px 0;
    width: 280px;
    position: fixed;
    right: -300px;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
            box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
    height: calc(100% - 65px);
    top: 65px;
    opacity: 0;
    z-index: 99;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
.show-chat{
    right: 0 !important;
    opacity: 1 !important;
}
#chat-mb{
    width: 100%;
    height: 100%;
    background: #555555;
    opacity: 0.3;
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}
.toggleli{
    background-color: rgba(0, 0, 0, 0.12);
}
.toggleli:hover:before{
    opacity: 0 !important;
}
#info,
#top-user{
    width: 300px;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transform-origin: top right;
    transform-origin: top right;
}
#top-user{
    height: auto;
    top: 36px;
}
#top-user .lv-footer{margin-top: 10px;}
#top-user .lv-body{min-height: inherit !important;}
.myInfo {
    padding: 12px 12px 12px 115px;
    position: relative;
}
.myphoto {
    width: 96px;
    height: 96px;
    position: absolute;
    left: 8px;
    top: 12px;
    font-size: 12px;
    line-height: 20px;
}
.userhead {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background: #edecec;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.userhead img{width: 100%;}
.change-userhead {
    background: rgba(0,0,0,.54);
    bottom: 0;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    left: 0;
    line-height: 9px;
    position: absolute;
    padding: 7px 0;
    text-align: center;
    width: 96px;
}
.myname {
    font-weight: bold;
    color: #000;
    min-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.Email {
    color: #666;
    font-size: 13px;
    min-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.signature {
    color: #A9A9A9;
    margin-bottom: 10px;
    font-size: 13px;
    min-height: 20px;
}
.user-myprofile,
.user-setting{
    padding: 5px 10px;
    color: #fff !important;
    background: #2196f3 !important;
    font-size: 12px !important;
    margin: 0;
    font-weight: normal;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4) !important;
            box-shadow: 0 1px 1px rgba(0,0,0,0.4) !important;
}
.user-myprofile:hover{background: #2196f3 !important;}
.user-setting{
    background: #e4e4e4 !important;
    color: #5e5e5e !important;
}
@media(max-width: 500px){
    #top-user{
        width: calc(100% - 40px) !important;
        right: 20px;
        top: 55px;
    }
}
.dropMenu {
    padding: 0;    
    height: 397px;
    display: block;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
}
.dropMenu .lv-header {
    text-align: center;
    padding: 15px 10px 13px;
    line-height: 100%;
    text-transform: uppercase;
    border-bottom: 1px solid #F0F0F0;
    font-size: 13px;
    font-weight: 500;
    color: #4C4C4C;
    margin-bottom: 10px;
}
.dropMenu .lv-body {
    min-height: 295px;
    max-height: 295px;
    overflow-x: hidden;
    overflow-y: auto;
}
.dropMenu .lv-footer {
    display: block;
    text-align: center;
    padding: 7px 10px 8px;
    border-top: 1px solid #F0F0F0;
    line-height: 100%;
    font-size: 11px;
    margin-top: 20px;
    color: #828282;
    overflow: hidden;
    position: relative;
}
.dropMenu .lv-body .lv-item{
    position: relative;
    display: block;
    -webkit-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    padding: 10px 20px;
}
.dropMenu .lv-body .lv-item:hover{background: #fcf8e3;}
.dropMenu .lv-body .lv-item .lv-img-sm {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.dropMenu .lv-body .lv-item .media-body .lv-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}
.dropMenu .lv-body .lv-item .media-body .lv-small{
    font-size: 12px;
    color: #A9A9A9;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
}
.media-body {
    zoom: 1;
    display: block;
    width: auto;
}
.show-info{
    -webkit-transform: scale(1) !important;
    transform: scale(1) !important;
    opacity: 1 !important;

}
#top-search-wrap {
    position: absolute;
    top: -65px;    
    left: 0;
    width: 100%;
    height: 64px;
    background: #fff;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    opacity: 0;    
    filter: alpha(opacity=0);
    z-index: 10;
}
.show-search{
    top: 0 !important;
    opacity: 1 !important;
}
.tsw-inner {
    position: relative;
    padding: 12px;
    max-width: 700px;
    display: block;
    margin: 0 auto;
}
.top-search-btn{
    position: absolute;
    top: 13px;
    font-size: 23px;
    font-style: normal;
    color: #aaa;
    width: 45px;
    text-align: center;
    border-radius: 2px 0px 0px 2px;
    cursor: pointer;
    left: 13px;
    height: 40px;
    padding: 9px 0 0 0;
}
.top-search-btn:hover {
    background-color: #e3e3e3;
}
#top-search-wrap .tsw-inner input{
    border: 0;
    height: 40px;
    padding: 0 10px 0 55px;
    font-size: 14px;
    width: 500px;
    border-radius: 2px;
    background-color: #efefef;
    width: 100%;
    outline: none;
    font-weight: normal;
}
.user-headimg{
    width: 32px;
    height: 32px;
    z-index: 1;
    position: relative;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #edecec;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.user-headimg img{width: 100%;}
#top-user-btn{
    min-width: initial;
    margin-left: 15px;
}
.m-breadcrumb{
    background: transparent;
    padding: 10px 0;
}
.breadcrumb > li > a {
    color: #A9A9A9;
}
.card {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}
.pt-label{
    color: #818181;
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    padding: 0 6px;
    line-height: 33px;
    vertical-align: middle;
    float: left;
}
.pt-actions{
    float: right;
    margin: 0;
    position: relative;
}
.pt-header{
    position: relative;
    background: #f8f8f8;
    padding: 15px;
}
.pt-actions > li {
    display: inline-block;
    vertical-align: baseline;
}
.pt-actions > li > a{
    margin: 0 3px;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    color: #adadad;
    font-size: 15px;
    position: relative;
}
.pt-actions > li > a:hover{color: #000;}
.top-menu li .tmn-counts{
    position: absolute;
    font-style: normal;
    background: #f44336;
    padding: 1px 5px;
    border-radius: 2px;
    right: 7px;
    top: -3px;
    font-size: 10px;
    line-height: 15px;
    color: #fff;
}
@media screen and (min-width: 768px){
    .card .card-body.card-padding {
        padding: 23px 26px;
    }
}
.pt-line {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    line-height: 14px;
    /*min-width: 66px;*/
    width: 73px;
}
.p-timeline{
    position: relative;
    padding-left: 114px;
    margin-bottom: 75px;
}
.pt-line .d-block {
    /*width: 66px;*/
    color: #00bcd4;
}
.pt-line:before {
    width: 1px;
    height: calc(100% + 63px);
    background: #E2E2E2;
    top: 14px;
    right: -20px;
}
.pt-line:after {
    top: 2px;
    right: -26px;
    width: 13px;
    height: 13px;
    border: 1px solid #C1C1C1;
    border-radius: 50%;
}
.pt-line:before, .pt-line:after {
    content: "";
    position: absolute;
}
.pt-upload{
    padding: 6px 12px;
    cursor: pointer;
    border: 0;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    color: #fff;
    background-color: #03a9f4;
}
.ptb-title {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #000;
}
.img-box{
    position: relative;
    float: left;
    width: 70px;
    height: 70px;
    margin: 0 3px 3px 0;
}
.del-pic {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
    line-height: 20px;
    z-index: 10;
    cursor: pointer;
    display: none;
}
.del-pic i{font-size: 12px;}
.del-pic:hover {
    background: rgba(0, 0, 0, 0.5);
}
.pt-body .lightbox-item {
    height: 70px;
    overflow: hidden;
    cursor: pointer;
}
.pt-body .lightbox-item:hover > .del-pic {display: block;}
.lightbox .lightbox-item > img {
    width: 100%;
    border-radius: 2px;
}
@media (min-width: 768px){
    .lightbox .lightbox-item:before {
        left: 0;
        top: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transform: scale3d(0, 0, 0);
        transform: scale3d(0, 0, 0);
        -webkit-transition: all;
        transition: all;
        -webkit-transition-duration: 250ms;
        transition-duration: 250ms;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 0;
        border-radius: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .lightbox .lightbox-item:hover:before, .lightbox .lightbox-item.open:before {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
#footer {
    text-align: center;
    width: 100%;
    color: #a2a2a2;
    padding: 40px 0 15px;
    clear: both;    
}
@media (max-width: 768px){
    #footer {padding: 24px 0 8px;}
}
#footer .f-menu {
    display: block;
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    margin-top: 8px;
}
#footer .f-menu > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
#footer .f-menu > li > a {
    color: #a2a2a2;
}
#footer .f-menu > li > a:hover {
    color: #777;
}
#main .home-add{
    color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
    right: 15px;
    bottom: 20px;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 45px;
    background-color: #f44336;
    border: 0;
    outline: none;
}
.animationload {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  background: #fff;
  z-index: 999;
}
.loader {
  position: absolute;
  margin: -25px 0 0 -25px;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 999;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.loader p{
  font-size: 12px;
  margin-top: 10px;
  text-indent: 1px;
}
.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center; 
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}