.grid {
	position: relative;
	margin: 0 auto;
}
.grid::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: #252323 url(../../images/loading.gif) no-repeat 50% 75px;
	background-size: 60px auto;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.grid--loaded::after {
	opacity: 0;
}

.grid__item {
	width: 390px;
	padding: 0 16px 16px;
}

.grid__item--current {
	opacity: 0 !important;
}

.img-wrap {
	display: block;
}

.img-wrap:focus,
.img-wrap:hover {
	outline: none;
}

.img-wrap img {
	display: block;
	max-width: 100%;
    width: 100%;
    border: 10px solid #fff;
}

.preview {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 50%;
	height: 100%;
	pointer-events: none;
}

.preview::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #1f1d1d;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.preview--open {
	pointer-events: auto;
}

.preview--open::before {
	opacity: 1;
}

.clone {
	position: fixed;
	z-index: 110;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-backface-visibility: hidden;
}

.original {
	width: 100%;
	position: relative;
	z-index: 120;
	display: block;
	object-fit: contain;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-backface-visibility: hidden;
}

.preview--open .animate {
	/* open */
	-webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
	transition: transform 0.6s, opacity 0.2s;
}

.animate {
	/* close */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.description {
	color: #fff;
}

.description--grid {
	display: none;
}

.description--preview {
	font-size: 2em;
	position: absolute;
	z-index: 140;
	width: 100%;
	left: 100%;
	top: 0;
	height: 100%;
	padding: 0 1em;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	opacity: 0;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 30px, 0);
	transform: translate3d(0, 30px, 0);
}

.preview--open .description--preview {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.description--preview h3 {
	font-weight: normal;
	margin: 0;
    color: #edecec;
    margin-bottom: 15px;
    font-family: "微软雅黑";
}

.description--preview p {
	font-size: 0.55em;
	max-width: 100%;
    color: #bbbbbb;
    text-indent: 28px;
    margin-bottom: 25px;
}

.description--preview p em {
	display: block;
	padding: 1.4em 0 0 0;
	color: #fff;
    text-align: right;
    font-size: 0.95em;
}
.description--preview p em span{
	font-style: normal;
    color: #aaa;
    font-weight: 400;
}

/* Details */

.details {
	max-width: 100%;
	/* IE 10-11 bug flexbox */
}

.details ul {
	line-height: 1;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
	width: calc(100% - 40px);
}

.details ul li {
	font-size: 0.5em;
	position: relative;
	display: inline-block;
	margin: 0 2em 0 0;
	padding: 0.15em 0;
	white-space: nowrap;
	opacity: 0;
	color: #9d9d9d;
	-webkit-transition: -webkit-transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.preview--open .details ul li {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.preview--open .details ul li:nth-child(1) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.preview--open .details ul li:nth-child(2) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.preview--open .details ul li:nth-child(3) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.preview--open .details ul li:nth-child(4) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.preview--open .details ul li:nth-child(5) {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.preview--open .details ul li:nth-child(6) {
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
}
.preview--open .details ul li:nth-child(7) {
	-webkit-transition-delay: 0.8s;
	transition-delay: 0.8s;
}
.preview--open .details ul li:nth-child(8) {
	-webkit-transition-delay: 0.9s;
	transition-delay: 0.9s;
}
.preview--open .details ul li:nth-child(9) {
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
}

.details ul li:first-child {
	font-weight: bold;
	color: #909090;
}

.icon {
	font-family: 'camera-icons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}

.icon + span {
	margin-left: 5px;
	vertical-align: middle;
}

.icon-focal_length:before {
	content: '\e600';
}

.icon-exposure_time:before {
	content: '\e601';
}

.icon-iso:before {
	content: '\e602';
}

.icon-camera:before {
	content: '\e603';
}

.icon-aperture:before {
	content: '\e604';
}

.details .icon {
	margin-right: 5px;
	color: #77d45b;
}


/* Close button */

.action {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	vertical-align: top;
	color: #2196f3;
	border: none;
	background: none;
}

.action:hover,
.action:focus {
	color: #2196f3;
	outline: none;
}

.action--close {
	position: fixed;
	z-index: 150;
	top: 0;
	right: 0;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}

.preview--image-loaded .action--close {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.text-hidden {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
}

@media screen and (max-width: 40em) {
	.description--preview h3 {
		font-size: 0.5em;
	}
	.description--preview p,
	.details {
		display: none;
	}
}

.photo-walls{
	margin-top: 25px;
}

@media(max-width: 410px){
	.grid{width: 100% !important;}
	.grid__item{width: 100% !important;}
}
.datailsGood{
	margin-top: 16px;
	position: relative;
	width: 100%;
}
.datailsGood ul li{margin: 0;}
.datailsGood ul li:first-child,
.datailsComment ul li:first-child{font-weight: normal;}
.datailsGood .img-div{
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 6px 0px 0 0;
}
.datailsGood .img-div img{width: 100%;}
.datailsComment{
	border-top: 1px solid #424242;
	width: 100%;
	margin-top: 20px;
    max-height: 360px;
    overflow: auto;
}
.datailsComment ul{padding-top: 6px;}
.datailsComment ul li{
    display: block;
    margin: 6px 0 0;
    white-space: normal;
    line-height: 18px;
}
.datailsComment ul li span{color: rgba(141, 204, 255, 0.47);}
.datailsComment .title{
    font-weight: bold;
    margin: 25px 0 10px;
    text-indent: 0;
}
.photo-operate{
    top: 6px !important;
    right: 0 !important;
}
.photo-operate li{
    display: block !important;
    padding: 8px 0 !important;
    color: #444 !important;
    cursor: pointer;
    font-size: 13px !important;
}
.photo-operate li:hover{background-color: #ddd;}
.photo-operate .dropdown-menu{
	border-radius: 2px;
    left: 28px !important;
    top: 36px !important;
}
.photo-operate button:hover i{color: #fff !important;}
.want-Comment-input{
	margin: 0 !important;
    padding: 0;
    position: relative;
    width: 100%;
    display: none;
}
.want-Comment-input input{
	font-size: 13px !important;
	color: #ddd !important;
	width: calc(100% - 65px);
}
.want-Comment-input input::-webkit-input-placeholder { /* WebKit browsers */ font-size: 13px !important;} 
.want-Comment-input input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ font-size: 13px !important;} 
.want-Comment-input input::-moz-placeholder { /* Mozilla Firefox 19+ */ font-size: 13px !important;} 
.want-Comment-input input:-ms-input-placeholder { /* Internet Explorer 10+ */ font-size: 13px !important;}
.want-Comment-input button{
	margin: 0;
	position: absolute;
	top: 5px;
	right: 0;
	color: #ddd !important;
	font-size: 12px !important;
    background-color: rgba(153,153,153,.2);
    padding: 8px 15px;
}
@media (max-width: 768px) {
	.img-wrap img{border: none;}
}