<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>联系我们</title>
    <link rel="shortcut icon" href="../static/fonts/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="../static/css/ripples.min.css">
    <link rel="stylesheet" href="../static/css/material-icons.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
    <!-- Page Preloader -->
    <div class="animationload">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="1" />
            </svg>
            <p>Loading...</p>
        </div>
    </div>
    <!-- Page Preloader end-->
    <div id="header" class="headroom headroom--unpinned">
        <ul class="header-inner">
            <li class="menu-trigger" id="menu-trigger">
                <div id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: hidden">
                    <svg width="1000px" height="1000px">
                        <path id="pathA" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                        <path id="pathB" d="M 300 500 L 700 500"></path>
                        <path id="pathC" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                    </svg>
                    <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
                </div>
                <!-- menu-icon-wrapper-->
                <div id="dummy" class="dummy"></div>
                <!-- dummy -->
            </li>
            <li class="logo hidden-xs"><a href="index.html">13INT-1</a></li>
            <li class="pull-right">
                <ul class="top-menu">
                    <li id="top-search"><a href="javascript:void(0);"><i class="material-icons">search</i></a></li>
                    <li class="dropdown" id="info-btn">
                        <a href="javascript:void(0);">
							<i class="material-icons">notifications</i>
						</a>
                        <div class="dropdown-menu dropMenu pull-right" id="info">
                            <div class="lv-header">消息提醒</div>
                            <div class="lv-body">
                                <a class="lv-item" href="javascript:void(0);">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="lv-img-sm" src="../static/images/1.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="lv-title">David Belle</div>
                                            <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                        </div>
                                    </div>
                                </a>
                                <a class="lv-item" href="javascript:void(0);">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="lv-img-sm" src="../static/images/1.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="lv-title">David Belle</div>
                                            <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div style="overflow: hidden;"><a class="lv-footer" href="javascript:void(0);">全部已读</a></div>
                        </div>
                        <!--dropdown-menu end-->
                    </li>
                    <li class="hidden-xs chat-btn"><a href="javascript:void(0);" id="chat-btn"><i class="material-icons">comment</i></a></li>
                    <!-- <li><a href="login.html" class="login-register"><span>登录/注册</span></a></li> -->
                    <!-- 登录后 -->
                    <li id="top-user-btn">
                        <div class="user-headimg"><img src="../static/images/tou.jpg" alt=""></div>
                        <div class="dropdown-menu dropMenu pull-right" id="top-user">
                            <div class="lv-header">
                                个人信息
                            </div>
                            <div class="lv-body">
                                <div class="myInfo">
                                    <div class="myphoto">
                                        <div class="userhead" data-type="update_avatar">
                                            <a href="myProfile.html" style="display:block;">
												<img src="../static/images/tou.jpg" alt="">
											</a>
                                        </div>
                                    </div>
                                    <div class="myshow">
                                        <div class="myname">赵少锋</div>
                                        <div class="Email">820731799@qq.com</div>
                                        <div class="signature">该用户很懒，什么都没有写。</div>
                                        <a class="btn user-myprofile" href="myProfile.html">我的账户</a>
                                        <a class="btn user-setting" href="myConfig.html">设置</a>
                                    </div>
                                </div>
                                <!--myInfo end-->
                                <div style="overflow: hidden;"><a class="lv-footer" href="javascript:void(0);">退出</a></div>
                            </div>
                        </div>
                        <!--dropdown-menu end-->
                    </li>
                    <!-- 登录后 end-->
                </ul>
            </li>
        </ul>
        <div id="top-search-wrap">
            <div class="tsw-inner">
                <i class="material-icons top-search-btn">search</i>
                <form>
                    <input type="text" name="keyword">
                </form>
            </div>
            <!--tsw-inner end-->
        </div>
        <!--top-search-wrap end-->
        </div>
        <div id="main">
            <div class="leftmenu" id="leftmenu">
                <ul class="main-menu">
                    <li class="withripple"><a href="index.html"><i class="material-icons">home</i>首页</a></li>
                    <li class="withripple"><a href="classNotice.html"><i class="material-icons">message</i>班级公告</a></li>
                    <li class="withripple"><a href="classPhoto.html"><i class="material-icons">image</i>班级相册</a></li>
                    <li class="withripple"><a href="party.html"><i class="material-icons">restaurant</i>班级聚会</a></li>
                    <li class="withripple"><a href="member.html"><i class="material-icons">supervisor_account</i>班级成员</a></li>
                    <li class="withripple"><a href="dataShare.html"><i class="material-icons">file_download</i>资料分享</a></li>
                    <li class="withripple"><a href="userMessage.html"><i class="material-icons">swap_horiz</i>留言反馈</a></li>
                </ul>
            </div>
            <!--leftmenu end-->
            <div class="leftmenu-mb" id="leftmenu-mb"></div>
            <!--左菜单遮罩-->
            <!-- <div class="chat-mb" id="chat-mb"></div> -->
            <div class="chat hidden-xs" id="chat">
                
            </div>
            <!--chat end-->
            <!---------- main in here ---------->
            <div class="container">
                <div class="fcontainer c-shadow row">
                    <form action="" class="form-body feedback_validate" novalidate="novalidate">
                        <h3 class="text-center feed_title">联系我们</h3>
                        <div class="contact-image m-t-25"><img src="../static/images/contact.jpeg" alt=""></div>
                        <div class="row mlr25">
                            <div class="col-md-5 col-sm-5 hidden-xs">
                                <div class="ixcontact ixcontact-after">
                                    <h2>联系方式</h2>
                                    <ul>
                                        <li><i class="material-icons">phone</i> 13145969154</li>
                                        <li><i class="material-icons">email</i> 820731799@qq.com</li>
                                        <li><i class="material-icons">public</i> bem.zhao@gmail.com</li>
                                        <li>
                                            <i class="material-icons">room</i>
                                            <address class="m-b-0 ng-binding">
                                                深圳市龙岗区,
                                                <br> 龙城街道,
                                                <br> 将军帽路1号-深圳技师学院
                                            </address>
                                        </li>
                                    </ul>
                                </div>
                                <!--ixcontact end-->
                            </div>
                            <!--col-md-6 end-->
                            <div class="col-md-7 col-sm-7">
                                <div class="ixcontact">
                                    <h2>发送邮件</h2>
                                    <div class="form-group label-floating contact-group m-t-5">
                                        <label class="control-label" for="focusedInput1">主题</label>
                                        <input class="form-control" id="focusedInput1" type="text">
                                    </div>
                                    <div class="form-group label-floating contact-group">
                                        <label class="control-label" for="focusedInput1">你的邮箱</label>
                                        <input class="form-control" id="focusedInput1" type="email">
                                    </div>
                                    <div class="form-group label-floating contact-group">
                                        <label class="control-label" for="focusedInput1">内容</label>
                                        <textarea class="form-control" rows="3" id="textArea" style="resize: vertical;"></textarea>
                                    </div>
                                </div>
                                <!--ixcontact end-->
                            </div>
                            <!--col-md-6 end-->
                        </div>
                        <!--row end-->
                        <div class="button-label" style="padding: 0 40px;">
                            <button type="reset" class="btn join-cancel currency-form-close">取消</button>
                            <button type="submit" class="btn join-party feedback_btn">发送</button>
                        </div>
                    </form>
                </div>
                <!--fcontainer end-->
            </div>
            <!--container end-->
            <!---------- main in here  end---------->
        </div>
        <!--main end-->
        <div id="footer">
            Designed by : bem.zhao@gmail.com
            <ul class="f-menu">
                <li><a href="feedback.html">发送反馈</a></li>
                <li><a href="help.html">帮助</a></li>
                <li><a href="javascript:void(0);">联系我们</a></li>
            </ul>
        </div>
        <!--footer end-->
        <script src="../static/js/jquery-1.11.3.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/material.min.js"></script>
        <script src="../static/js/ripples.min.js"></script>
        <script>
        $.material.init()
        </script>
        <script src="../static/js/headroom.js"></script>
        <script src="../static/js/jQuery.headroom.js"></script>
        <!--menu-icon-wrapper-->
        <link rel="stylesheet" type="text/css" href="../static/js/menu-icon/normalize.css" />
        <link rel="stylesheet" type="text/css" href="../static/js/menu-icon/component.css" />
        <script src="../static/js/menu-icon/segment.min.js"></script>
        <script src="../static/js/menu-icon/ease.min.js"></script>
        <script src="../static/js/menu-icon/main.js"></script>
        <!--menu-icon-wrapper end-->
        <script src="../static/js/main.js"></script>
        <!--header按钮响应-->
        <!--messenger-->
        <link rel="stylesheet" href="../static/js/messenger/messenger.css">
        <link rel="stylesheet" href="../static/js/messenger/messenger-theme-future.css">
        <script src="../static/js/messenger/messenger.min.js"></script>
        <!--messenger end-->
        <!--bootstrap多图上传预览-->
        <link href="../static/js/fileinput/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
        <script src="../static/js/fileinput/fileinput.min.js" type="text/javascript"></script>
        <!--bootstrap多图上传预览 end-->
        <!--validator-->
        <link rel="stylesheet" href="../static/js/validator/bootstrapValidator.min.css" />
        <script type="text/javascript" src="../static/js/validator/bootstrapValidator.min.js"></script>
        <script type="text/javascript" src="../static/js/validator/zh_CN.js"></script>
        <script src="../static/js/validator/initialize.js"></script>
        <!-- validator end -->
</body>

</html>