<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>忘记密码</title>
    <link rel="shortcut icon" href="../static/fonts/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="../static/css/ripples.min.css">
    <link rel="stylesheet" href="../static/css/material-icons.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="login-page">
    <div class="page-header header-filter">
        <div class="container fulltainer">
            <!-- 忘记密码 -->
            <div class="card card-enter">
                <div class="dropdown party-menu login-menu">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li><a href="login.html" class="text-center">登录</a></li>
                        <li><a href="register.html" class="text-center">注册</a></li>
                    </ul>
                </div>
                <form class="form login_Form forget_validate" method="" action="">
                    <div class="header header-primary text-center">
                        <i class="material-icons">fingerprint</i>
                    </div>
                    <p class="form-title text-center tit-md-show">忘记密码？</p>
                    <p class="form-title text-center hide tit-xs-show">忘记密码？</p>
                    <div class="content">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                            <div class="form-group is-empty">
                                <input type="email" class="form-control" placeholder="电子邮箱" name="email">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons" style="transform: rotate(270deg);">vpn_key</i>
                            </span>
                            <div class="form-group" name="success">
                                <div class="col-md-8 col-sm-8 col-xs-8 plr0">
                                    <input type="text" class="form-control" placeholder="验证码..." name="code" />
                                </div>
                                <label class="btn control-label plr0 col-md-4 col-sm-4 col-xs-4 btn-primary send_code">发送验证码</label>
                            </div>
                        </div>
                        <!--login_operate end-->
                    </div>
                    <div class="text-center login_btn_con">
                        <a href="javascript:void(0);" class="btn btn-primary c-login-btn forget_btn">下一步</a>
                    </div>
                </form>
            </div>
            <div class="login-card-bg"></div>
            <!--card end-->
        </div>
        <!--container end-->
        <div class="footer login_footer">
            <div class="container">
                <ul class="pull-left mdlist">
                    <li><a href="feedback.html">发送反馈</a></li>
                    <li><a href="help.html">帮助</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                </ul>
                <div class="copyright pull-right">Designed by : bem.zhao@gmail.com</div>
                <div class="pull-left hide xsshow">想起来了！<a href="register.html">登录</a></div>
                <div class="pull-right hide xsshow"><a href="">注册</a></div>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/material.min.js"></script>
    <script src="../static/js/ripples.min.js"></script>
    <script>
    $.material.init()
    </script>
    <!--messenger-->
    <link rel="stylesheet" href="../static/js/messenger/messenger.css">
    <link rel="stylesheet" href="../static/js/messenger/messenger-theme-future.css">
    <script src="../static/js/messenger/messenger.min.js"></script>
    <!--messenger end-->
    <!--validator-->
    <link rel="stylesheet" href="../static/js/validator/bootstrapValidator.min.css" />
    <script type="text/javascript" src="../static/js/validator/bootstrapValidator.min.js"></script>
    <script type="text/javascript" src="../static/js/validator/zh_CN.js"></script>
    <script src="../static/js/validator/initialize.js"></script>
    <!-- validator end -->
    <!-- 切换 -->
</body>

</html>