<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>New revolution</title>
    <link rel="shortcut icon" href="../static/fonts/favicon.ico">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="../static/css/ripples.min.css">
    <link rel="stylesheet" href="../static/css/material-icons.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
    <!-- Page Preloader -->
    <div class="animationload">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="1" />
            </svg>
            <p>Loading...</p>
        </div>
    </div>
    <!-- Page Preloader end-->
    <div id="header" class="headroom headroom--unpinned">
        <ul class="header-inner">
            <li class="menu-trigger" id="menu-trigger">
                <div id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: hidden">
                    <svg width="1000px" height="1000px">
                        <path id="pathA" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
                        <path id="pathB" d="M 300 500 L 700 500"></path>
                        <path id="pathC" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
                    </svg>
                    <button id="menu-icon-trigger" class="menu-icon-trigger"></button>
                </div>
                <!-- menu-icon-wrapper-->
                <div id="dummy" class="dummy"></div>
                <!-- dummy -->
            </li>
            <li class="logo hidden-xs"><a href="index.html">13INT-1</a></li>
            <li class="pull-right">
                <ul class="top-menu">
                    <li id="top-search"><a href="javascript:void(0);"><i class="material-icons">search</i></a></li>
                    <li class="dropdown" id="info-btn">
                        <a href="javascript:void(0);">
							<i class="material-icons">notifications</i>
						</a>
                        <div class="dropdown-menu dropMenu pull-right" id="info">
                            <div class="lv-header">消息提醒</div>
                            <div class="lv-body">
                                <a class="lv-item" href="javascript:void(0);">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="lv-img-sm" src="../static/images/1.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="lv-title">David Belle</div>
                                            <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                        </div>
                                    </div>
                                </a>
                                <a class="lv-item" href="javascript:void(0);">
                                    <div class="media">
                                        <div class="pull-left">
                                            <img class="lv-img-sm" src="../static/images/1.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <div class="lv-title">David Belle</div>
                                            <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div style="overflow: hidden;"><a class="lv-footer" href="javascript:void(0);">全部已读</a></div>
                        </div>
                        <!--dropdown-menu end-->
                    </li>
                    <li class="hidden-xs chat-btn"><a href="javascript:void(0);" id="chat-btn"><i class="material-icons">comment</i></a></li>
                    <!-- <li><a href="login.html" class="login-register"><span>登录/注册</span></a></li> -->
                    <!-- 登录后 -->
                    <li id="top-user-btn">
                        <div class="user-headimg"><img src="../static/images/tou.jpg" alt=""></div>
                        <div class="dropdown-menu dropMenu pull-right" id="top-user">
                            <div class="lv-header">
                                个人信息
                            </div>
                            <div class="lv-body">
                                <div class="myInfo">
                                    <div class="myphoto">
                                        <div class="userhead" data-type="update_avatar">
                                            <a href="myProfile.html" style="display:block;">
                                              <img src="../static/images/tou.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="myshow">
                                        <div class="myname">赵少锋</div>
                                        <div class="Email">820731799@qq.com</div>
                                        <div class="signature">该用户很懒，什么都没有写。</div>
                                        <a class="btn user-myprofile" href="myProfile.html">我的账户</a>
                                        <a class="btn user-setting" href="myConfig.html">设置</a>
                                    </div>
                                </div>
                                <!--myInfo end-->
                                <div style="overflow: hidden;"><a class="lv-footer" href="javascript:void(0);">退出</a></div>
                            </div>
                        </div>
                        <!--dropdown-menu end-->
                    </li>
                    <!-- 登录后 end-->
                </ul>
            </li>
        </ul>
        <div id="top-search-wrap">
            <div class="tsw-inner">
                <i class="material-icons top-search-btn">search</i>
                <form>
                    <input type="text" name="keyword">
                </form>
            </div>
            <!--tsw-inner end-->
        </div>
        <!--top-search-wrap end-->
        </div>
        <div id="main">
            <div class="leftmenu" id="leftmenu">
                <ul class="main-menu">
                    <li class="withripple"><a href="index.html"><i class="material-icons">home</i>首页</a></li>
                    <li class="withripple"><a href="classNotice.html"><i class="material-icons">message</i>班级公告</a></li>
                    <li class="withripple"><a href="classPhoto.html"><i class="material-icons">image</i>班级相册</a></li>
                    <li class="withripple"><a href="party.html"><i class="material-icons">restaurant</i>班级聚会</a></li>
                    <li class="withripple active"><a href="javascript:void(0);"><i class="material-icons">supervisor_account</i>班级成员</a></li>
                    <li class="withripple"><a href="dataShare.html"><i class="material-icons">file_download</i>资料分享</a></li>
                    <li class="withripple"><a href="userMessage.html"><i class="material-icons">swap_horiz</i>留言反馈</a></li>
                </ul>
            </div>
            <!--leftmenu end-->
            <div class="leftmenu-mb" id="leftmenu-mb"></div>
            <!--左菜单遮罩-->
            <!-- <div class="chat-mb" id="chat-mb"></div> -->
            <div class="chat hidden-xs" id="chat">
                
            </div>
            <!--chat end-->
            <!---------- main in here ---------->
            <div class="container">
                <div class="block-header">
                    <ol class="breadcrumb">
                        <li><a href="index.html">首页</a></li>
                        <li class="active">班级成员</li>
                    </ol>
                    <!-- <a href="javascript:void(0)" class="btn btn-info party-launch-btn pull-right">发表留言</a> -->
                </div>
                <!--block-header end-->
                <div class="member-main">
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="item">
                            <div class="item-head">
                                <a href="#">
								<img src="../static/images/head/f3.jpg" alt="">
							</a>
                            </div>
                            <!--item-head end-->
                            <div class="item-info">
                                <strong>庄庆华</strong>
                                <small>847657953@qq.com</small>
                            </div>
                            <!--item-info end-->
                            <div class="item-footer"><a href="#" class="withripple">发消息</a></div>
                        </div>
                        <!--item end-->
                    </div>
                    <!--col-md-3 end-->
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="item">
                            <div class="item-head">
                                <a href="#">
								<img src="../static/images/head/f1.jpg" alt="">
							</a>
                            </div>
                            <!--item-head end-->
                            <div class="item-info">
                                <strong>赵少锋</strong>
                                <small>820731799@qq.com</small>
                            </div>
                            <!--item-info end-->
                            <div class="item-footer"><a href="#" class="withripple">发消息</a></div>
                        </div>
                        <!--item end-->
                    </div>
                    <!--col-md-3 end-->
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="item">
                            <div class="item-head">
                                <a href="#">
								<img src="../static/images/head/f2.jpg" alt="">
							</a>
                            </div>
                            <!--item-head end-->
                            <div class="item-info">
                                <strong>林晓鑫</strong>
                                <small>635968628@qq.com</small>
                            </div>
                            <!--item-info end-->
                            <div class="item-footer"><a href="#" class="withripple">发消息</a></div>
                        </div>
                        <!--item end-->
                    </div>
                    <!--col-md-3 end-->
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="item">
                            <div class="item-head">
                                <a href="#">
								<img src="../static/images/head/f6.jpg" alt="">
							</a>
                            </div>
                            <!--item-head end-->
                            <div class="item-info">
                                <strong>卢斌</strong>
                                <small>895112552@qq.com</small>
                            </div>
                            <!--item-info end-->
                            <div class="item-footer"><a href="#" class="withripple">发消息</a></div>
                        </div>
                        <!--item end-->
                    </div>
                    <!--col-md-3 end-->
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="item">
                            <div class="item-head">
                                <a href="#">
								<img src="../static/images/head/f4.jpg" alt="">
							</a>
                            </div>
                            <!--item-head end-->
                            <div class="item-info">
                                <strong>王白石</strong>
                                <small>861928075@qq.com</small>
                            </div>
                            <!--item-info end-->
                            <div class="item-footer"><a href="#" class="withripple">发消息</a></div>
                        </div>
                        <!--item end-->
                    </div>
                    <!--col-md-3 end-->
                    <div class="col-md-3 col-sm-4 col-xs-6">
                        <div class="item">
                            <div class="item-head">
                                <a href="#">
								<img src="../static/images/head/f5.jpg" alt="">
							</a>
                            </div>
                            <!--item-head end-->
                            <div class="item-info">
                                <strong>卢泽伟</strong>
                                <small>798099534@qq.com</small>
                            </div>
                            <!--item-info end-->
                            <div class="item-footer"><a href="#" class="withripple">发消息</a></div>
                        </div>
                        <!--item end-->
                    </div>
                    <!--col-md-3 end-->
                </div>
                <!--member-main end-->
            </div>
            <!--container end-->
            <!---------- main in here  end---------->
        </div>
        <!--main end-->
        <div id="footer">
            Designed by : bem.zhao@gmail.com
            <ul class="f-menu">
                <li><a href="feedback.html">发送反馈</a></li>
                <li><a href="help.html">帮助</a></li>
                <li><a href="contact.html">联系我们</a></li>
            </ul>
        </div>
        <!--footer end-->
        <script src="../static/js/jquery-1.11.3.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/material.min.js"></script>
        <script src="../static/js/ripples.min.js"></script>
        <script>
        $.material.init()
        </script>
        <script src="../static/js/headroom.js"></script>
        <script src="../static/js/jQuery.headroom.js"></script>
        <!--menu-icon-wrapper-->
        <link rel="stylesheet" type="text/css" href="../static/js/menu-icon/normalize.css" />
        <link rel="stylesheet" type="text/css" href="../static/js/menu-icon/component.css" />
        <script src="../static/js/menu-icon/segment.min.js"></script>
        <script src="../static/js/menu-icon/ease.min.js"></script>
        <script src="../static/js/menu-icon/main.js"></script>
        <!--menu-icon-wrapper end-->
        <script src="../static/js/main.js"></script>
        <!--header按钮响应-->
        <!--messenger-->
        <link rel="stylesheet" href="../static/js/messenger/messenger.css">
        <link rel="stylesheet" href="../static/js/messenger/messenger-theme-future.css">
        <script src="../static/js/messenger/messenger.min.js"></script>
        <!--messenger end-->
        <script>
        $('.carousel').carousel({ interval: 4000 }) //班级相册轮播时间
        </script>
        <script src="../static/js/jquery.SuperSlide.2.1.1.js"></script>
        <script>
        jQuery(".slideTxtBox").slide({ effect: "top", autoPlay: true, delayTime: 2000 });
        jQuery(".NoticeInfo").slide({ effect: "fold", autoPlay: true });
        </script>
</body>

</html>