<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>我的账户</title>
	<link rel="shortcut icon" href="../static/fonts/favicon.ico">	
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap-material-design.min.css">
	<link rel="stylesheet" href="../static/css/ripples.min.css">
	<link rel="stylesheet" href="../static/css/material-icons.css">	
	<link rel="stylesheet" href="../static/css/framework.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
	<!-- Page Preloader -->
	<div class="animationload">
	  <div class="loader">
	    <svg class="circular" viewBox="25 25 50 50">
	      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="1"/>
	    </svg>
	    <p>Loading...</p>
	  </div>
	</div>
	<!-- Page Preloader end-->

	<div id="header">
		<ul class="header-inner">
			<li class="menu-trigger" id="menu-trigger">
				<div id="menu-icon-wrapper" class="menu-icon-wrapper" style="visibility: hidden">
					<svg width="1000px" height="1000px">
						<path id="pathA" d="M 300 400 L 700 400 C 900 400 900 750 600 850 A 400 400 0 0 1 200 200 L 800 800"></path>
						<path id="pathB" d="M 300 500 L 700 500"></path>
						<path id="pathC" d="M 700 600 L 300 600 C 100 600 100 200 400 150 A 400 380 0 1 1 200 800 L 800 200"></path>
					</svg>
					<button id="menu-icon-trigger" class="menu-icon-trigger"></button>
				</div><!-- menu-icon-wrapper-->
				<div id="dummy" class="dummy"></div><!-- dummy -->
			</li>
			<li class="logo hidden-xs"><a href="index.html">13INT-1</a></li>
			<li class="pull-right">
				<ul class="top-menu">
					<li id="top-search"><a href="javascript:void(0);"><i class="material-icons">search</i></a></li>
					<li class="dropdown" id="info-btn">
						<a href="javascript:void(0);">
							<i class="material-icons">notifications</i>
						</a>
						<div class="dropdown-menu dropMenu pull-right" id="info">
							<div class="lv-header">消息提醒</div>
              <div class="lv-body">                  
                <a class="lv-item" href="javascript:void(0);">
                  <div class="media">
                    <div class="pull-left">
                      <img class="lv-img-sm" src="../static/images/1.jpg" alt="">
                    </div>
                    <div class="media-body">
                      <div class="lv-title">David Belle</div>
                      <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                    </div>
                  </div>
                </a>
                <a class="lv-item" href="javascript:void(0);">
                  <div class="media">
                    <div class="pull-left">
                      <img class="lv-img-sm" src="../static/images/1.jpg" alt="">
                    </div>
                    <div class="media-body">
                      <div class="lv-title">David Belle</div>
                      <small class="lv-small">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                    </div>
                  </div>
                </a>
              </div>
              <div style="overflow: hidden;"><a class="lv-footer" href="javascript:void(0);">全部已读</a></div>
						</div><!--dropdown-menu end-->
					</li>
					<li class="hidden-xs chat-btn"><a href="javascript:void(0);" id="chat-btn"><i class="material-icons">comment</i></a></li>
					<!-- <li><a href="login.html" class="login-register"><span>登录/注册</span></a></li> -->
					<!-- 登录后 -->
					<li id="top-user-btn">
						<div class="user-headimg"><img src="../static/images/tou.jpg" alt=""></div>
						<div class="dropdown-menu dropMenu pull-right" id="top-user">
              <div class="lv-header">
                个人信息                  
              </div>
              <div class="lv-body">
                <div class="myInfo">
                  <div class="myphoto"> 
                    <div class="userhead" data-type="update_avatar"> 
                      <a href="myProfile.html" style="display:block;">
	                      <img src="../static/images/tou.jpg" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="myshow">
                    <div class="myname">赵少锋</div>
                    <div class="Email">820731799@qq.com</div>
                    <div class="signature">该用户很懒，什么都没有写。</div>
                    <a class="btn user-myprofile" href="myProfile.html">我的账户</a>
                    <a class="btn user-setting" href="myConfig.html">设置</a>
                  </div>
                </div><!--myInfo end-->
              <div style="overflow: hidden;"><a class="lv-footer" href="javascript:void(0);">退出</a></div>
						</div><!--dropdown-menu end-->
					</li>
					<!-- 登录后 end-->
				</ul>
			</li>
		</ul>
		<div id="top-search-wrap">
			<div class="tsw-inner">
				<i class="material-icons top-search-btn">search</i>
        <form>
        	<input type="text" name="keyword">
        </form>
			</div><!--tsw-inner end-->
		</div><!--top-search-wrap end-->
	</div>
	<div id="main">
		<!-- <div class="btn currenty-new c-shadow"><a href="javascript:void(0);"><i class="material-icons">add</i></a></div> -->
		<div class="leftmenu" id="leftmenu">
			<ul class="main-menu">
				<li class="btn btn-default"><a href="index.html"><i class="material-icons">home</i>首页</a></li>
				<li class="btn btn-default"><a href="classNotice.html"><i class="material-icons">message</i>班级公告</a></li>
				<li class="btn btn-default"><a href="classPhoto.html"><i class="material-icons">image</i>班级相册</a></li>
				<li class="btn btn-default"><a href="party.html"><i class="material-icons">restaurant</i>班级聚会</a></li>
				<li class="btn btn-default"><a href="member.html"><i class="material-icons">supervisor_account</i>班级成员</a></li>
				<li class="btn btn-default"><a href="dataShare.html"><i class="material-icons">file_download</i>资料分享</a></li>
				<li class="btn btn-default"><a href="userMessage.html"><i class="material-icons">swap_horiz</i>留言反馈</a></li>
			</ul>
		</div><!--leftmenu end-->
		<div class="leftmenu-mb" id="leftmenu-mb"></div><!--左菜单遮罩-->
		<!-- <div class="chat-mb" id="chat-mb"></div> -->
		<div class="chat hidden-xs" id="chat">
			占位  占位  占位  占位  占位
		</div><!--chat end-->
		<!---------- main in here ---------->
		<div class="container">
			<div class="block-header">
				<ol class="breadcrumb">
				  <li><a href="index.html">首页</a></li>				  
				  <li class="active">个人资料</li>
				</ol>				
				<!-- <a href="javascript:void(0)" class="btn btn-info party-launch-btn pull-right">添加照片</a> -->
			</div><!--block-header end-->
			
			<div class="myContainer">
				<div class="myProfile-header c-shadow" id="crop-avatar">
					<div class="banner"><a href="#" class="change-banner"><i class="material-icons">photo_camera</i></a></div>
					<div class="avatar-view myProfile-img-div">
						<img src="../static/images/tou.jpg" alt="">
						<a href="javascript:void(0);" class="change-headimg"><i class="material-icons">photo_camera</i></a>
					</div><!--myProfile-img-div end-->
					<div class="myProfile-name">赵少锋</div>
				</div><!--myProfile-header end-->
				
				<div class="col-md-6 col-sm-6 pd8">
					<div class="card myProfile-card c-shadow">
						<form action="">
							<div class="card-header">
                <h5><i class="material-icons">account_circle</i><span>信息认证</span></h5>
                <div class="dropdown party-menu myProfile-menu">
								  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"> 
								    <i class="material-icons">more_vert</i>
								  </button>
								  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								    <li><a href="#" class="text-center">修改</a></li>
								    <li><a href="#" class="text-center">删除</a></li>
								  </ul>
								</div>
              </div><!--card-header end-->
              <div class="card-body">
              	<p>
                  <label>Q Q：</label>
                  <span>820731799</span>
                </p>
                <p>
                  <label>手机：</label>
                  <span>18129865526</span>
                </p>
                <p>
                  <label>邮箱：</label>
                  <span>820731799@qq.com</span>
                </p>
              </div><!--card-body end-->
						</form>
					</div><!--card end-->
					<!-- 初始状态 -->
					<div class="card myProfile-card c-shadow">
						<form action="" class="form-body myProfile_validate">
							<div class="card-header">
                <h5><i class="material-icons">account_circle</i><span>信息认证</span></h5>
              </div><!--card-header end-->
              <div class="card-body">
              	<div class="form-group row">
						      <label for="QQ" class="col-md-2 col-sm-2 col-xs-2 control-label plr0">Q Q：</label>
						      <div class="col-md-10 col-sm-10 col-xs-10 plr0">
						        <input type="number" class="form-control" id="QQ">
						      </div>
						    </div><!--form-group end-->
              	<div class="form-group row">
						      <label for="phone" class="col-md-2 col-sm-2 col-xs-2 control-label plr0">手机：</label>
						      <div class="col-md-10 col-sm-10 col-xs-10 plr0">
						        <input type="number" class="form-control" id="phone" name="phone" autocomplete="off">
						      </div>
						    </div><!--form-group end-->
						    <div class="form-group row">
						      <label for="email" class="col-md-2 col-sm-2 col-xs-2 control-label plr0">邮箱：</label>
						      <div class="col-md-10 col-sm-10 col-xs-10 plr0">
						        <input type="email" class="form-control" id="email" name="email" autocomplete="off">
						      </div>
						    </div><!--form-group end-->
              </div><!--card-body end-->
              <div class="button-label">
	            	<button type="reset" class="btn join-cancel currency-form-close">取消</button>
	            	<button type="submit" class="btn join-party">保存</button>
	            </div>
						</form>
					</div><!--card end-->
					<!-- 修改密码 -->
					<div class="card myProfile-card c-shadow">
						<form action="" class="form-body myProfile_validate change_password">
							<div class="card-header">
                <h5><i class="material-icons">lock_open</i><span>修改密码</span></h5>
              </div><!--card-header end-->
              <div class="card-body">
              	<div class="form-group row">
						      <label for="old_password" class="col-md-3 col-sm-3 col-xs-3 control-label plr0 l-p-4">原密码：</label>
						      <div class="col-md-9 col-sm-9 col-xs-9 plr0">
						      	<input style="display: none;">
						        <input type="password" class="form-control" id="old_password" name="old_password" autocomplete="off">
						      </div>
						    </div><!--form-group end-->
              	<div class="form-group row">
						      <label for="new_password" class="col-md-3 col-sm-3 col-xs-3 control-label plr0 l-p-4">新密码：</label>
						      <div class="col-md-9 col-sm-9 col-xs-9 plr0">
						      	<input style="display: none;">
						        <input type="password" class="form-control" id="new_password" name="new_password" autocomplete="off">
						      </div>
						    </div><!--form-group end-->
						    <div class="form-group row">
						      <label for="confirm_password" class="col-md-3 col-sm-3 col-xs-3 control-label plr0">确认密码：</label>
						      <div class="col-md-9 col-sm-9 col-xs-9 plr0">
						      	<input style="display: none;">
						        <input type="password" class="form-control" id="confirm_password" name="confirm_password" autocomplete="off">
						      </div>
						    </div><!--form-group end-->
              </div><!--card-body end-->
              <div class="button-label">
	            	<button type="reset" class="btn join-cancel currency-form-close">取消</button>
	            	<button type="submit" class="btn join-party">保存</button>
	            </div>
						</form>
					</div><!--card end-->
				</div><!--col-md-6 end-->
				<div class="col-md-6 col-sm-6 pd8">
					<div class="card myProfile-card c-shadow">
						<form action="">
							<div class="card-header">
                <h5><i class="material-icons">assignment</i><span>基本信息</span></h5>
                <div class="dropdown party-menu myProfile-menu">
								  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"> 
								    <i class="material-icons">more_vert</i>
								  </button>
								  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								    <li><a href="#" class="text-center">修改</a></li>
								    <li><a href="#" class="text-center">删除</a></li>
								  </ul>
								</div>
              </div><!--card-header end-->
              <div class="card-body">
                <p>
                  <label>地址：</label>
                  <span>广东省深圳市龙岗区深圳技师学院</span>
                </p>
                <p>
                  <label>姓名：</label>
                  <span>赵少锋</span>
                </p>
                <p>
                  <label>性别：</label>
                  <span>男</span>
                </p>
                <p>
                  <label>生日：</label>
                  <span>1998年9月14日</span>
                </p>
                <p>
                  <label>爱好：</label>
                  <span>学习</span>
                </p>
                <p>
                  <label>宣言：</label>
                  <span>我爱学习，学习使我快乐。</span>
                </p>
              </div><!--card-body end-->
						</form>
					</div><!--card end-->
					<!-- 初始状态 -->
					<div class="card myProfile-card c-shadow">
						<form action="" class="form-body myProfile_validate">
							<div class="card-header">
                <h5><i class="material-icons">assignment</i><span>基本信息</span></h5>
              </div><!--card-header end-->
              <div class="card-body">
              	<div class="form-group row">
						      <label for="address" class="col-md-2 col-sm-2 col-xs-2 control-label plr0">地址：</label>
						      <div class="col-md-10 col-sm-10 col-xs-10 plr0">
						        <input type="text" class="form-control" id="address">
						      </div>
						    </div><!--form-group end-->
						    <div class="form-group row">
						      <label for="name" class="col-md-2 col-sm-2 col-xs-2 control-label plr0">姓名：</label>
						      <div class="col-md-10 col-sm-10 col-xs-10 plr0">
						        <input type="text" class="form-control" id="name">
						      </div>
						    </div><!--form-group end-->
						    <div class="form-group row">
						      <label class="col-md-2 col-sm-2 col-xs-2 control-label plr0">性别：</label>
						      <div class="col-md-10 col-sm-10 col-xs-10 plr0">
	                  <div class="radio radio-primary col-md-3 col-sm-3 col-xs-3 plr0">
	                    <label>
						            <input type="radio" name="gender" id="gender1" value="男">男
						          </label>
	                  </div><!--radio end-->
	                  <div class="radio radio-primary col-md-3 col-sm-3 col-xs-3 plr0">
	                    <label>
						            <input type="radio" name="gender" id="gender2" value="女">女
						          </label>
	                  </div><!--radio end-->
						      </div>
						    </div><!--form-group end-->
						    <div class="form-group row">
						      <label for="birth" class="col-md-2 col-sm-2 col-xs-2 control-label plr0">生日：</label>
						      <div class="col-md-10 col-sm-10 col-xs-10 plr0">
						        <input type="text" class="form-control" id="birth">
						      </div>
						    </div><!--form-group end-->
						    <div class="form-group row">
						      <label for="hobby" class="col-md-2 col-sm-2 col-xs-2 control-label plr0">爱好：</label>
						      <div class="col-md-10 col-sm-10 col-xs-10 plr0">
						        <input type="text" class="form-control" id="hobby">
						      </div>
						    </div><!--form-group end-->
						    <div class="form-group row">
						      <label for="sign" class="col-md-2 col-sm-2 col-xs-2 control-label plr0">宣言：</label>
						      <div class="col-md-10 col-sm-10 col-xs-10 plr0">
						        <textarea class="form-control" rows="2" id="sign"></textarea>
						        <span class="help-block">个性签名</span>
						      </div>
						    </div><!--form-group end-->
              </div><!--card-body end-->
              <div class="button-label">
	            	<button type="reset" class="btn join-cancel currency-form-close">取消</button>
	            	<button type="submit" class="btn join-party">保存</button>
	            </div>
						</form>
					</div><!--card end-->
				</div><!--col-md-6 end-->
			</div><!--myContainer end-->
		</div><!--container end-->

		<!--change_head_img alert-->
		<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<form class="avatar-form" action="{{url('admin/upload-logo')}}" enctype="multipart/form-data" method="post">
						<div class="modal-header">
							<button class="close" data-dismiss="modal" type="button">&times;</button>
							<h4 class="modal-title" id="avatar-modal-label">更改头像</h4>
						</div>
						<div class="modal-body">
							<div class="avatar-body">
								<div class="avatar-upload">
									<input class="avatar-src" name="avatar_src" type="hidden">
									<input class="avatar-data" name="avatar_data" type="hidden">
									<label for="avatarInput">图片上传</label>
									<input class="avatar-input" id="avatarInput" name="avatar_file" type="file"></div>
								<div class="row">
									<div class="col-md-9">
										<div class="avatar-wrapper"></div>
									</div>
									<div class="col-md-3">
										<div class="avatar-preview preview-lg"></div>
										<div class="avatar-preview preview-md"></div>
										<div class="avatar-preview preview-sm"></div>
									</div>
								</div>
								<div class="row avatar-btns">
									<div class="col-md-9">
										<div class="btn-group">
											<button class="btn" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees"><i class="fa fa-undo"></i> 向左旋转</button>
										</div>
										<div class="btn-group">
											<button class="btn" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees"><i class="fa fa-repeat"></i> 向右旋转</button>
										</div>
									</div>
									<div class="col-md-3">
										<button class="btn btn-success btn-block avatar-save" type="submit"><i class="fa fa-save"></i> 保存修改</button>
									</div>
								</div>
							</div>
						</div>
		  		</form>
		  	</div>
		  </div>
		</div>
		<!--change_head_img alert end-->

		<!---------- main in here  end---------->
	</div><!--main end-->
	<div id="footer">
		Copyright © 2016 13INT-1.TOP
    <ul class="f-menu">
      <li><a href="feedback.html">发送反馈</a></li>
      <li><a href="help.html">帮助</a></li>
      <li><a href="contact.html">联系我们</a></li>
    </ul>
	</div><!--footer end-->
	
	<script src="../static/js/jquery-1.11.3.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/material.min.js"></script>
	<script src="../static/js/ripples.min.js"></script>
	<script>$.material.init()</script>
	<!--menu-icon-wrapper-->
	<link rel="stylesheet" type="text/css" href="../static/js/menu-icon/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/js/menu-icon/component.css" />
	<script src="../static/js/menu-icon/segment.min.js"></script>
	<script src="../static/js/menu-icon/ease.min.js"></script>
	<script src="../static/js/menu-icon/main.js"></script>
	<!--menu-icon-wrapper end-->
	<script src="../static/js/header_main.js"></script><!--header按钮响应-->
	<!--messenger-->
	<link rel="stylesheet" href="../static/js/messenger/messenger.css">
	<link rel="stylesheet" href="../static/js/messenger/messenger-theme-future.css">
	<script src="../static/js/messenger/messenger.min.js"></script>
	<!--messenger end-->
	<!--validator-->
	<link rel="stylesheet" href="../static/js/validator/bootstrapValidator.min.css"/>
	<script type="text/javascript" src="../static/js/validator/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="../static/js/validator/zh_CN.js"></script>
	<script src="../static/js/validator/initialize.js"></script>
	<!-- validator end -->
	<!--change_head_img-->
	<link href="../static/js/change_head_img/cropper/cropper.min.css" rel="stylesheet">
	<link href="../static/js/change_head_img/sitelogo/sitelogo.css" rel="stylesheet">
	<script src="../static/js/change_head_img/cropper/cropper.min.js"></script>
	<script src="../static/js/change_head_img/sitelogo/sitelogo.js"></script>
	<!--change_head_img end-->
</body>
</html>